## ignorance is bliss

_resampled
.DS_Store
*.sublime-*
*.map
/*.log
/.site
/assets/_combinedfiles/
/betterbuttons/
/betternavigator/
/bfgoogleanalytics/
/blog/
/cms/
/focuspoint/
/framework/
/googlesitemaps/
/gridfieldextensions/
/htmleditornoalignment/
/htmleditorsrcset/
/htmleditoruploadfield/
/infoboxes/
/lumberjack/
/metatitle/
/opengraph/
/redirectedurls/
/reports/
/securitytemplates/
/share-care/
/silverstripe-loggerbridge/
/silverstripe-menumanager/
/silverstripe-responsive-images/
/siteconfig/
/tagfield/
/vendor/
