/*!
 * Website
 * By Bigfork
*/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { -ms-interpolation-mode: bicubic; }

/* normalize.css v2.0.1 | MIT License | git.io/normalize Modified to remove duplications when using Meyer reset
*/
audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

svg:not(:root) { overflow: hidden; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { padding: 0; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

body { font: 62.5% arial, sans-serif; }

/* Typography */
.typography { font-size: 130%; line-height: 1.5; }
.typography p { margin-bottom: 1em; }
.typography strong { font-weight: bold; }
.typography em { font-style: italic; }
.typography ul { list-style-type: disc; margin: 0 0 1em; padding: 0 0 0 1.5em; }
.typography ol { list-style-type: decimal; margin: 0 0 1em; padding: 0 0 0 1.5em; }
.typography blockquote { font-style: italic; margin: 0 0 1em; }
.typography blockquote p { margin: 0; }
.typography blockquote cite { display: block; font-style: normal; font-weight: bold; }
.typography a:link, .typography a:visited { color: black; text-decoration: none; }
.typography a:hover, .typography a:active { color: black; text-decoration: underline; }
.typography .left { text-align: left; }
.typography .center { text-align: center; }
.typography .right { text-align: right; }
.typography img.left { float: left; margin: 0 1em 0 0; }
.typography img.right { float: right; margin: 0 0 0 1em; }
.typography img.leftAlone { float: left; margin-right: 100%; }
.typography img.center { float: none; margin: 0 auto; display: block; }

.h { display: none !important; }

.group { zoom: 1; }
.group:before, .group:after { content: ''; display: table; }
.group:after { clear: both; }

/* Layout
---------------------------------------------------------------------------------- */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { background: white; color: black; }

/* IE Hacks
---------------------------------------------------------------------------------- */
.lte-ie7 * { *behavior: url("/polyfill/box-sizing/boxsizing.htc"); }
