@import '_mixins';

/* Styles for HtmlEditorFields
---------------------------------------------------------------------------------- */

/* Custom fonts
---------------------------------------------------------------------------------- */

/* Set base font size / family
---------------------------------------------------------------------------------- */
html {
	font-size: 62.5%;
}

body {
	font-family: $font-body;
}

/* Typography
---------------------------------------------------------------------------------- */
/* The following is used by both style.scss (front-end) and editor.scss (CMS)
---------------------------------------------------------------------------------- */
.typography {
	line-height: 1.5;
	@include rem-fontsize(13);

	p {
		margin-bottom: 1em;
	}

	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	h1,
	.h1 {
		font-size: 200%;
	}

	h2,
	.h2 {
		font-size: 150%;
	}

	h3,
	.h3 {
		font-size: 120%;
	}

	ul {
		margin: 0 0 1em; padding: 0 0 0 1.5em;
		list-style-type: disc;
	}

	ol {
		margin: 0 0 1em; padding: 0 0 0 1.5em;
		list-style-type: decimal;
	}

	blockquote {
		margin: 0 0 1em;
		font-style: italic;

		p {
			margin: 0;
		}

		cite {
			display: block;
			font-weight: bold;
			font-style: normal;
		}
	}

	a {
		&:link,
		&:visited {
			color: $black;
			text-decoration: none;
		}

		&:hover,
		&:active {
			color: $black;
			text-decoration: underline;
		}
	}

/* TinyMCE alignment
---------------------------------------------------------------------------------- */

	.left {
		text-align: left;
	}

	.center {
		text-align: center;
	}

	.right {
		text-align: right;
	}

/* Images
---------------------------------------------------------------------------------- */

	img {
		&.left {
			float: left;
			margin: 0 1em 0 0;
		}

		&.right {
			float: right;
			margin: 0 0 0 1em;
		}

		&.leftAlone {
			float: left;
			margin-right: 100%;
		}

		&.center {
			display: block;
			float: none;
			margin: 0 auto;
		}
	}
}
