/* Utilities and Mixins
---------------------------------------------------------------------------------- */

/* Occasionally handly class for forcing stuff to hide
---------------------------------------------------------------------------------- */
.h {
	display: none !important;
}

/* Clearfix - Assign class to element to self clear children
---------------------------------------------------------------------------------- */
.group {
	&:before, &:after {
		content: '';
		display: table;
	}
	&:after { clear: both; }
	zoom: 1; // IE 6/7
}

/* Utility class for replacing text with a background-image
---------------------------------------------------------------------------------- */
.replace {
	display: block;
	overflow: hidden;
	text-indent: 150%;
	white-space: nowrap;
}

/* Partially rounded corners - ($top-left, $top-right, $bottom-right, $bottom-left)
---------------------------------------------------------------------------------- */
@mixin rounded-partial($tl, $tr, $br, $bl){
	border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;
}
