// Utilities and mixins
// ------------------------------------------------------------------------------------------

// OCCASIONALLY HANDY CLASS FOR FORCING STUFF TO HIDE
// ------------------------------------------------------------------------------------------

.h {
	display: none !important;
}

// CLEARFIX -- ASSIGN CLASS TO ELEMENT TO SELF CLEAR CHILDREN
// ------------------------------------------------------------------------------------------

.group {
	&:before, &:after {
		content: '';
		display: table;
	}
	&:after { clear: both; }
	zoom: 1; // IE 6/7
}

// IMAGE REPLACEMENT
// ------------------------------------------------------------------------------------------

.replace {
	display: block;
	overflow: hidden;
	text-indent: 150%;
	white-space: nowrap;
}

// BOX SIZING ($box-sizing)
// ------------------------------------------------------------------------------------------
@mixin box-sizing($s)
{
	box-sizing: $s;
}

// PARTIALLY ROUNDED CORNERS ($top-left, $top-right, $bottom-right, $bottom-left)
// ------------------------------------------------------------------------------------------
@mixin rounded-partial($tl, $tr, $br, $bl){
	border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;
}
