/* Utility Classes
---------------------------------------------------------------------------------- */

/* Occasionally handly class for forcing stuff to hide
---------------------------------------------------------------------------------- */
.h {
	display: none !important;
}

/* Clearfix - Assign class to element to self clear children
---------------------------------------------------------------------------------- */
.group {
	zoom: 1; // IE 6/7

	&:before,
	&:after {
		display: table;
		content: '';
	}

	&:after {
		clear: both;
	}
}

/* Utility class for replacing text with a background-image
---------------------------------------------------------------------------------- */
.replace {
	display: block;
	overflow: hidden;
	text-indent: 150%;
	white-space: nowrap;
}
