// LESS Variables
// ------------------------------------------------------------------------------------------

// FORM MESSAGE COLOURS
// ------------------------------------------------------------------------------------------

$message-good-text: #468847;
$message-good-bg: #DFF0D8;
$message-good-border: #D6E9C6;

$message-bad-text: #B94A48;
$message-bad-bg: #F2DEDE;
$message-bad-border: #EED3D7;

// SITE VARIABLES
// ------------------------------------------------------------------------------------------

$white: #fff;
$black: #000;

$font-head: arial,sans-serif;
$font-body: arial,sans-serif;

