/* For CMS HtmlEditorField
---------------------------------------------------------------------------------- */

@import '_reset';
@import '_normalize';
@import '_variables';
@import '_typography';

body.mceContentBody {
	font-size: 13px;
}
