/* Mixins
---------------------------------------------------------------------------------- */

/* REM sizing with PX fallback
---------------------------------------------------------------------------------- */
@mixin font-size($size) {
	font-size: $size * 1px;
	font-size: ($size * 1rem/10);
}

/* Column generator
   Generate % width column based on pixel values
   Does not account for gutters, that's just for doing multi-width columns

   @colWidth: width of one column
   @totalWidth: width of container
   @gutterWidth: width of space between columns
   @columns: how many columns this spans, assumes equal widths

   Examples

   .column__single {
      @include column(470, 960)
   }

   .column__one-third {
	  @include column(225, 960, 20, 1)
   }

   .column__two-thirds {
      @include column(225, 960, 20, 2)
   }
---------------------------------------------------------------------------------- */
@mixin column($colWidth, $totalWidth, $gutterWidth: 0, $columns: 1) {
	$totalColWidth = ($colWidth * $columns) + ($gutterWidth * ($columns - 1));
	width: ($totalColWidth / $totalWidth) * 100%;
}

/* IE conditional
---------------------------------------------------------------------------------- */
@mixin ie() {
	@if $_is_ie {
		@content;
	}
}

/* Media queries
---------------------------------------------------------------------------------- */
@mixin respond($width, $minMax: 'min') {
	@if(type-of($width) == 'string') {
		$width: unquote($width);
	}
	// IE? Strip out media queries
	@if $_is_ie {
		@content;
	} @else {
		// Otherwise, responsive goodness
		@media screen and (#{$minMax}-width: $width) {
			@content;
		}
	}
}

/* High-DPI displays
---------------------------------------------------------------------------------- */
@mixin retina($density: 1.5) {
	// IE? NO RETINA 4 U
	@if not $_is_ie {
		// Otherwise, all the pixels
		@media
			only screen and (-webkit-min-device-pixel-ratio: #{$density}),
			only screen and (   min--moz-device-pixel-ratio: #{$density}),
			only screen and (     -o-min-device-pixel-ratio: #{($density * 10)}/10),
			only screen and (        min-device-pixel-ratio: #{$density}),
			only screen and (                min-resolution: ($density * 96dpi)),
			only screen and (                min-resolution: #{$density}dppx) {
				@content;
		}
	}
}
