/* SCSS Variables
---------------------------------------------------------------------------------- */

$color__white: #fff;
$color__black: #000;
$color__grey: #888;
$color__grey--dark: #444;
$color__grey--light: #ccc;

$font__head: verdana, sans-serif;
$font__head--large: 'Trebuchet MS', verdana, sans-serif;
$font__body: verdana, sans-serif;
